.o-tabcontainer {
  position: relative;
  padding: 1rem 1rem;
  background: var(--normal-white) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 24px;
  max-width: 500px;
  width: 50%;
}

@media only screen and (max-width: 715px) {
  .o-tabcontainer {
    width: 100%;
  }
}

.o-tabcontainer .o-tabcontainer-options {
  position: absolute;
  top: -25px;
  left: 0;
}

.o-tabcontainer .o-tabcontainer-options button {
  margin-right: 0.5rem;
}

.o-tabcontainer .o-tabcontainer-options button:first-child {
  text-decoration: underline;
}

.o-tabcontainer .o-tabcontainer-content {
  padding: 1rem;
}
