:root {
  --omnishop-icon-logo: "a";
  --omnishop-icon-heart: "b";
  --omnishop-icon-password: "c";
  --omnishop-icon-star_empty: "d";
  --omnishop-icon-star: "e";
}

@font-face {
  font-family: "OmnishopIcons";
  src: url("@fonts/icons/omnishop.eot");
  src: url("@fonts/icons/omnishop.eot?#iefix") format("embedded-opentype"),
    url("@fonts/icons/omnishop.woff") format("woff"),
    url("@fonts/icons/omnishop.ttf") format("truetype"),
    url("@fonts/icons/omnishop.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon,
.icon:before {
  font-family: OmnishopIcons, sans-serif;
}

.icon.icon-logo:before {
  content: var(--omnishop-icon-logo);
}

.icon.icon-heart:before {
  content: var(--omnishop-icon-heart);
}

.icon.icon-password:before {
  content: var(--omnishop-icon-password);
}

.icon.icon-star-empty:before {
  content: var(--omnishop-icon-star_empty);
}

.icon.icon-star:before {
  content: var(--omnishop-icon-star);
}
