.o-passwordfield {
  position: relative;
}

.o-passwordfield .icon-password {
  position: absolute;
  top: 15px;
  right: 1%;
  cursor: pointer;
  color: var(--normal-gray);
}

.o-passwordfield .icon-password:hover {
  color: var(--light-gray);
}

.o-passwordfield .icon-password:active {
  color: var(--dark-gray);
}

.o-passwordfield .icon-password.o-selected {
  color: var(--normal-purple);
}
