.o-passwordfield {
  position: relative;
}

.o-passwordfield .icon-password {
  position: absolute;
  top: 15px;
  right: 1%;
  cursor: pointer;
  color: #9f9f9f;
}

.o-passwordfield .icon-password:hover {
  color: #b9b9b9;
}

.o-passwordfield .icon-password:active {
  color: #797979;
}

.o-passwordfield .icon-password.o-selected {
  color: var(--normal-purple);
}
